html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.3;
  background: #f0f0f4;
  margin: 0;
}

svg {
  overflow: visible;
}

svg path {
  display: none;
}

fieldset {
  border: 0;
  padding: 0;
  margin: .5em 0;
  min-width: 0;
}

legend {
  margin-bottom: .5em;
  font-weight: bold;
  padding: 0;
}

select {
  font-size: 1em;
}

input,
button,
label {
  border: 0;
  font-size: 1em;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: 0;
}

input[type="radio"] {
  vertical-align: .1em;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

::-webkit-input-placeholder {
  color: #889;
}

:-moz-placeholder {
  color: #889;
  opacity: 1;
}

::-moz-placeholder {
  color: #889;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #889;
}

.filter {
  width: 32%;
  display: inline-block;
  vertical-align: top;
}

.filter select {
  width: 85%;;
}

.filter input#threshold {
  width: 50%;
  vertical-align: inherit;
}

.key {
  display: inline-block;
  vertical-align: -0.1em;
  width: .9em;
  height: .9em;
}

.q-0 {
  background-color: #f0f0f4;
}

.q-25 {
  background-color: #ddbfc3;
}

.q-50 {
  background-color: #c98e91;
}

.q-75 {
  background-color: #b65d60;
}

.q-100 {
  background-color: #a22c2e;
}

.q-missing {
  border: 1px solid black;
  background-color: white;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  text-align: right;
  background: -moz-linear-gradient(45deg, white 0%, white 50%, slategrey 50%, slategrey 100%);
  background: -webkit-linear-gradient(45deg, white 0%, white 50%, slategrey 50%, slategrey 100%);
  background: linear-gradient(45deg, white 0%, white 50%, slategrey 50%, slategrey 100%);
}

header {
  background: white;
  padding: 2em 0;
  margin-bottom: 2em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}

header h1 {
  font-size: 1.6em;
  margin: 0 0 .5em;
}

.center {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 2em;
}

.law {
  margin: 20px 0 40px;
  padding: 0 0 20px;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.title {
  background: slategrey;
  padding: 1em 1.5em;
}

.title > h2 {
  font-size: 1.17em;
  font-weight: normal;
  margin: 0;
  color: white;
}

.statement {
  padding: .5em 1.5em 0;
}

.statement > h3 {
  font-size: 1em;
  margin-top: 0;
}

.tooltip {
  display: none;
  z-index: 100;
  position: fixed;
  width: 200px;
  height: 72px;
  background: white;
  border-radius: 4px;
  border: 1px solid slategrey;
}

.tooltip p {
  margin: .5em;
}

.tooltip:before {
  content: '';
  position: absolute;
  top: 100%;
  margin-left: -9px;
  width: 0;
  height: 0;
  border-top: 9px solid slategrey;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

@media print {
  body {
    background: none;
  }

  .center {
    max-width: 100%;
  }

  .badge {
    display: none;
  }

  header {
    margin-bottom: 2em;
    border-bottom: 1px solid;
  }

  header, .law {
    box-shadow: none;
  }

  .law {
    page-break-inside: avoid;
  }

  .statement {
    padding: 0;
  }

  .statement h3 {
    font-weight: normal;
  }

  .title {
    background: none;
    padding: 0;
    font-weight: normal;
  }

  .title > h2 {
    font-weight: bold;
    color: black;
  }

  .tooltip {
    display: none;
  }
}
